.msjDatosErroneo {
    position: absolute;
    z-index: 1000;
    text-align: center;
    width: 100%;
    height: min-content;
    top: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    color: aliceblue;
    display: none;
    padding: 15px 0;
}

/*----------*/

.contentbarProgress, 
.contentsubWind_alert_auth_success,
.contentsubWind_alert_conexWS_cortada, 
.contentsubWind_alert_conexWS_cant,
.contentsubWind_alert_conexWS_closeclean,
.contentsubWind_alert_auth_cant {
    width: 100%;
    height: 100%;
    background-color: rgba(238, 255, 238, 0.5);
    position: absolute;
    display: none;
    top: 0%;
    z-index: 119090;
    justify-content: center;
    align-items: center;
}

/*----------*/

.progress, 
.subWind_alert_conexWS,
.subWind_alert_conexWS_cortada,
.subWind_alert_conexWS_cant,
.subWind_alert_conexWS_closeclean {
    position: relative;
    width: 50%;
    margin: 0% auto;
}

.progress {
    top: 50%;
}

.subWind_alert_conexWS,
.subWind_alert_conexWS_cortada,
.subWind_alert_conexWS_cant,
.subWind_alert_conexWS_closeclean  {
    top: 25%;
}

/*----------*/

.progress-bar {
    width: 0%;
    transition: all 1s ease .8;
}

/*----------*/