<img class="avatar" src="/fwork/Img/logo/logo_512x415.png" alt="LOGO">
<form class="login100-form validate-form " method="POST" action="/Controllers/SQL/insertarDatos.php">
    <input class="form-control input_text_index" type="number" name="arg_numId" value="" autocomplete="off"
        placeholder="NUMERO DE CÉDULA">
    <input class="form-control input_text_index" type="password" name="arg_psw" value="" autocomplete="off"
        placeholder="CONTRASEÑA">
    <input class="form-control input_text_index" type="password" name="arg_numId" value="" autocomplete="off"
        placeholder="CLAVE DE PRODUCTO"><br>
    <input class="btn btn-success" type="submit" value="REGISTRAR"><br>
    <a href="#" onclick="setVisibleform_auth_index()">
        ya estas registrado? INICIA SESIÓN AQUÍ.
    </a><br>
    <a href="#">Recuperar contraseña</a>
</form>